body {
    
    font-family: Arial, sans-serif;
    background: rgb(207, 191, 146);
   
  }
  

.cake-animation {
    display: inline-block;
    position: relative;
  }
  
  .rotating-cake {
    animation: rotateCake 5s infinite;
  }
  
  @keyframes rotateCake {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  